<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Terawang</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--Page Utama -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Site A</ion-card-subtitle>
            <ion-card-title>Level Sungai</ion-card-title>
          </ion-card-header>

          <ion-card-content>
             <p>Level : 120 m</p>
             <p>Low Alarm : 20 m</p>
             <p>High Alarm : 200 m</p>
             <p>Middle Alarm : 100m-110m</p>

          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col>
        ion-col
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
