<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sistem Penerawangan Data - Jasa Tirta 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Terawang</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--Page Utama -->
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="2"  *ngIf="chdata">

        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>{{chdata.group_name}}</ion-card-subtitle>
            <ion-card-title>{{chdata.name}}</ion-card-title>
          </ion-card-header>

          <ion-card-content class="info">
             <p><span>{{chdata.value}} </span><span [innerHTML]="chdata.unit"></span></p>
             <ion-button color="secondary" (click)="presentActionMenu()"><ion-icon name="menu-outline"></ion-icon></ion-button>
             <ion-button color="dark" (click)="openAlarmModel()"  ><ion-icon name="alarm-outline"></ion-icon></ion-button>
             <ion-button color="danger" (click)="backToGroup()"><ion-icon name="refresh-circle-outline"></ion-icon></ion-button>

          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Alarm</ion-card-subtitle>
            <ion-card-title>{{chdata.name}}</ion-card-title>
          </ion-card-header>

          <ion-card-content class="info">

             <p [ngClass]="{'blinkme': chdata.value <= chdata.alarm_min }">Low Alarm : <span>{{chdata.alarm_min}} </span>
               <span [innerHTML]="chdata.unit"></span></p>

            <p [ngClass]="{'blinkme':  chdata.value >= chdata.alarm_mid_on && chdata.value <= chdata.alarm_mid_off }">Mid Alarm Off:
              <span>{{chdata.alarm_mid_off}} </span>
              <span [innerHTML]="chdata.unit"></span>
            </p>
             <p [ngClass]="{'blinkme': chdata.value >= chdata.alarm_mid_on && chdata.value <= chdata.alarm_mid_off}">Mid Alarm On: <span>{{chdata.alarm_mid_on}} </span><span [innerHTML]="chdata.unit"></span></p>

             <p [ngClass]="{'blinkme': chdata.value >= chdata.alarm_max }">High Alarm : <span>{{chdata.alarm_max}} </span><span [innerHTML]="chdata.unit"></span></p>

          </ion-card-content>
        </ion-card>

      </ion-col>
      <ion-col sizeLg="10">
        Trend Chart
        <canvas baseChart [data]="lineChartData" [options]="lineChartOptions" [type]="lineChartType"></canvas>
      </ion-col>

    </ion-row>
  </ion-grid>
  <!--MODAL-->
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="closeModal()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Set Name & Alarm Value</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirmChangeAlarm()" [strong]="true">Save</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Name</ion-label>
          <ion-input type="text" placeholder="Enter value" [(ngModel)]="alarm.name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Alarm Min</ion-label>
          <ion-input type="number" placeholder="Enter value" [(ngModel)]="alarm.alarm_min"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Alarm Middle On</ion-label>
          <ion-input type="number" placeholder="Enter value" [(ngModel)]="alarm.alarm_mid_on"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Alarm Middle Off</ion-label>
          <ion-input type="number" placeholder="Enter value" [(ngModel)]="alarm.alarm_mid_off"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Alarm Max</ion-label>
          <ion-input type="number" placeholder="Enter value" [(ngModel)]="alarm.alarm_max"></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
